* { padding: 0; margin: 0; }

body {
font-family: Verdana, Geneva, sans-serif;
font-size: 12px;
background: #06C;
}

#wrapper { 
margin: 0 auto;
width: 800px;
}

#header {
width: 800px;
color: #333;
padding: 0px;
height: 150px;
margin: 0px 0px 0px 0px;
background: #BD9C8C;
}

#navigation {
width: 800px;
color: #ffffff;
padding: 0px;
margin: 0px 0px 0px 0px;
background: #F60;
}

/*Start MainMenu*/
.navigation{
margin: 0;
padding: 0;
float: left;
font: 12px Verdana, Geneva, sans-serif;
width: 100%;
overflow: hidden;
background: #F60;
}

.navigation li{
display: inline;
}

.navigation li a{
float: left;
color: white;
padding: 9px 11px;
text-decoration: none;
border-right: 1px solid white;
}

.navigation li a:visited{
color: white;
}

.navigation li a:hover, .solidblockmenu li .current{
color: #fff;
background-color:#000;
}

/*End MainMenu*/
#content { 
width: 800px;
color: #ffffff;
background: #;
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
height: auto;
}

.lable{
background:#ffffff;
color:#09F;
font-size:15px;	
}

.join {	
width:800px;
height:800px;
float:left;
padding: 0px;
margin-top:10px;
overflow:hidden;
}
#wufoo{position:absolute;width:100%;height:100%;}

.video {	
width:800px;
padding-top:30px;
text-align:center;
overflow:hidden;
}

.photos {	
width:800px;
padding-top:30px;
text-align:center;
overflow:auto;
}

.banner{
margin:0px;
padding:0px;
border:0px;
float:left;
}

.section{
margin:0px;
min-height:1000px;
max-height:auto;
padding-bottom:20px;
width:800px;
float:left;
}

.section h2{
margin:0px 0px 0px 50px;
color:#09F;
width:600px;
}

.section p{
font-size:15px;
line-height:22px;
color:#ffffff;
font-family: Verdana, Geneva, sans-serif;
margin:20px 0px 0px 50px;
width:600px;
}

.textlist li {
font-size:15px;
line-height:22px;
color:#ffffff;
font-family: Verdana, Geneva, sans-serif;
margin:20px 0px 0px 50px;
width:600px;
}

.textlist a:link {color: white;}
.textlist a:visited {color: white;}
.textlist a:active {color: white;}
.textlist a:hover {color: white;}
.textlist a:focus {color: white;}

.section h3{
margin:20px 0px 0px 50px;
font-size:20px;
line-height:22px;
font-family: Verdana, Geneva, sans-serif;
color:#09F;
width:600px;
}

.section h4{
margin:20px 0px 0px 50px;
font-size:15px;
line-height:22px;
font-family: Verdana, Geneva, sans-serif;
color:#ffffff;
width:600px;
}

#gallery {
width:800px;
padding-top:35px; 
padding-left:35px;
text-align:center;
overflow:hidden;
}

#gallery ul {
width:800px;
height: auto;
overflow: hidden;
}

#gallery ul li {
float: left;
text-align:left;
margin-top:5px;
margin-rightt:5px;
margin-bottom:0px;
margin-left:5px;
display: inline;		
}

.black{
color:#fff;
background: #639  url() repeat-x bottom left;
}

img {
border: 0;
}

.footer {
width: 800px;
color: #ffffff;
text-align:center;
font: 15px Verdana, Geneva, sans-serif;
padding: 0px;
margin: 0px 0px 0px 0px;
background: #F60;
}

.footer p{
font-size:10px;
line-height:22px;
color:#ffffff;
font-family: Verdana, Geneva, sans-serif;
margin:20px 0px 0px 50px;
width:600px;
}